{% if post %}
  {% assign entry = post %}
{% else %}
  {% assign entry = page %}
{% endif %}
## Date
- Date: {{ entry.date }}
- Formatted Date: {{ entry.date_text }}
- Formatted Time: {{ entry.time_text }}
- Date XML: {{ entry.date_xml }}
- Date HTML: {{ entry.date_html }}
- Date Time HTML: {{ entry.date_time_html }}

{% if entry.date_updated %}
## Updated
- Date: {{ entry.date_updated }}
- Formatted Date: {{ entry.date_updated_text }}
- Formatted Time: {{ entry.time_updated_text }}
- XML: {{ entry.date_updated_xml }}
- HTML: {{ entry.date_updated_html }}
- Date Time HTML: {{ entry.date_time_updated_html }}
{% endif %}
